<?php include $this->admin_tpl('meta', 'admin');?>
<title>论坛设置 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 论坛管理 <span class="c-gray en">&gt;</span> 论坛设置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
	<form class="form form-horizontal" method="post" action="" onsubmit="return check_all()">
		<div id="tab_system" class="HuiTab">
			<div class="tabBar cl"><span>基本设置</span><span>其他设置</span></div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>论坛名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="bbs_name" value="<?php echo $data["bbs_name"];?>" class="input-text w_420">
						<a href="<?php echo U('index/init');?>" target="_blank" style="font-size:12px;text-decoration:none;line-height:22px"  title="访问站点"><i class="yzm-iconfont yzm-iconlianjie"></i>访问</a>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">论坛SEO关键字：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text"  name="bbs_keyword" value="<?php echo $data["bbs_keyword"];?>" class="input-text w_420">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">论坛SEO描述：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea class="textarea" name="bbs_description" style="width:80%"><?php echo $data["bbs_description"];?></textarea>
					</div>
				</div>
			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">是否开启用户发帖：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<label class="label_radio"><input name="posts_open" type="radio" <?php echo $data["posts_open"]? 'checked' : '' ?> value="1"> 开启</label>
						<label class="label_radio"><input name="posts_open" type="radio" <?php echo $data["posts_open"]? '' : 'checked' ?> value="0"> 关闭</label>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">是否开启发帖审核：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<label class="label_radio"><input name="posts_check" type="radio" <?php echo $data["posts_check"]? 'checked' : '' ?> value="1"> 开启</label>
						<label class="label_radio"><input name="posts_check" type="radio" <?php echo $data["posts_check"]? '' : 'checked' ?> value="0"> 关闭</label>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">是否开启帖子评论审核：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<label class="label_radio"><input name="posts_comment_check" type="radio" <?php echo $data["posts_comment_check"]? 'checked' : '' ?> value="1"> 开启</label>
						<label class="label_radio"><input name="posts_comment_check" type="radio" <?php echo $data["posts_comment_check"]? '' : 'checked' ?> value="0"> 关闭</label>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">每个用户每日发帖数量：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" name="posts_day_limit" value="<?php echo $data["posts_day_limit"];?>" class="input-text w_200"> 条
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">发帖奖励积分：</label>
					<div class="formControls col-xs-8 col-sm-9 yzm-explain-box">
						<input type="text" name="posts_point" value="<?php echo $data["posts_point"];?>" class="input-text w_200">
						<span class="yzm-explain">积分=经验，区别在于积分可以通过消费减少，经验只增不减</span>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">帖子评论间隔时间限制：</label>
					<div class="formControls col-xs-8 col-sm-9 yzm-explain-box">
						<input type="text"  name="posts_comment_limit" value="<?php echo $data["posts_comment_limit"];?>" class="input-text w_200">
						<span class="yzm-explain">单位“秒”，在该时间段内不能重复评论</span>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">帖子评论奖励积分：</label>
					<div class="formControls col-xs-8 col-sm-9 yzm-explain-box">
						<input type="text"  name="posts_comment_point" value="<?php echo $data["posts_comment_point"];?>" class="input-text w_200">
						<span class="yzm-explain">积分=经验，区别在于积分可以通过消费减少，经验只增不减</span>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2">帖子评论每日奖励上限次数：</label>
					<div class="formControls col-xs-8 col-sm-9 yzm-explain-box">
						<input type="text"  name="posts_comment_point_limit" value="<?php echo $data["posts_comment_point_limit"];?>" class="input-text w_200">
						<span class="yzm-explain">超过此设置值后再次评论将不能再获取积分奖励</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				
				<input type="submit" class="btn btn-primary radius" name="dosubmit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
				<input type="reset" class="btn btn-default radius" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>

<?php include $this->admin_tpl('footer', 'admin');?>

<script type="text/javascript">
function check_all(){
	if($("input[name='bbs_name']").val() == ''){
		layer.msg('论坛名称不能为空！', {icon:2});
		return false;
	}
	val = $("input[name='posts_day_limit']").val();
	if(val=='' || !(/(^[1-9]\d*$)/.test(val))){
		layer.msg('每个用户每日发帖数量只能为正整数！', {icon:2});
		return false;
	}
	val = $("input[name='posts_point']").val();
	if(val=='' || isNaN(val)){
		layer.msg('发帖奖励积分只能为数字！', {icon:2});
		return false;
	}
	val = $("input[name='posts_comment_limit']").val();
	if(val=='' || isNaN(val)){
		layer.msg('帖子评论间隔时间限制只能为数字！', {icon:2});
		return false;
	}
	val = $("input[name='posts_comment_point']").val();
	if(val=='' || isNaN(val)){
		layer.msg('帖子评论奖励积分只能为数字！', {icon:2});
		return false;
	}
	val = $("input[name='posts_comment_point_limit']").val();
	if(val=='' || isNaN(val)){
		layer.msg('帖子评论每日奖励次数只能为数字！', {icon:2});
		return false;
	}
	return true;			
}

$(function(){
	$.Huitab("#tab_system .tabBar span","#tab_system .tabCon","current","click","<?php echo isset($_GET['tab']) ? intval($_GET['tab']) : '0'?>");
});
</script>

</body>
</html>