<?php include $this->admin_tpl('meta', 'admin');?>
<title>移动板块 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container">

<form class="form form-horizontal" onsubmit="return dosub(this)" method="post">
	<div class="row cl">
		<label class="form-label col-xs-3"><span class="c-red">*</span>移动板块：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="select" name="plate_id" class="select" style="height:30px;line-height:30px">
				<option value="0">≡ 请选择板块 ≡</option>
				<?php 
					foreach ($plateinfo as $key => $value) {
						echo '<option value="'.$value['plate_id'].'">'.$value['plate_name'].'</option>';
					}
				?>
			</select>
	
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3"><span class="c-red">*</span>内容ID：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value=""  name="ids" id="ids">
		</div>
	</div>
	<div class="footer_btn">
		<input type="hidden" name="dosubmit" value="1">
		<input class="btn btn-primary radius" type="submit" value="确 定">
		<input class="btn btn-default radius" type="button" value="取 消" onclick="yzmcms_close()">	
	</div>
</form>

</article>
<?php include $this->admin_tpl('footer', 'admin');?> 

<script type="text/javascript">
	function dosub(obj){
		if($("select[name='plate_id']").val()=='0'){
			layer.msg('请选择板块！', {icon:2});
			return false;
		}
		if($("input[name='ids']").val()==''){
			layer.msg('内容ID不能为空！', {icon:2});
			return false;
		}
		$.ajax({
			type: 'POST',
			url: '<?php echo U('remove')?>', 
			data: $(obj).serialize(),
			dataType: "json", 
			success: function (msg) {
				if(msg.status == 1){
					layer.msg(msg.message, {icon:1, time:800}, function(){
						parent.location.reload();
					});
				}else{
					layer.msg(msg.message, {icon:2});
				}
			}
		})
		return false;		
	}
	</script> 
</body>
</html>