<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员登录_YzmCMS</title>
    <link href="{STATIC_URL}bbs/css/member_login.css" rel="stylesheet" type="text/css" />
    <meta name="author" content="YZMCMS/QQ:214243830">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="YzmCMS内容管理系统,用户登录">
    <meta name="description" content="YzmCMS是由袁志蒙独自开发的一款基于PHP+Mysql架构的轻量级开源内容管理系统!">
	<script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{STATIC_URL}plugin/layer/layer.js"></script>
</head>
<body>
    
    <div class="login_container">
		<div class="form">
			<form action="" method="post" onsubmit="return checkall()">
				<ul>
				 <li><input type="text" class="input" name="username" id="username" placeholder="用户名/邮箱"  value=""></li>				 
				 <li><input type="password" class="input"  name="password" id="password" placeholder="请输入密码"   value=""></li>
				 <li><input type="text" class="input code"  name="code" id="code"   placeholder="输入验证码"><img src="{U('api/index/code')}" onclick="this.src=this.src+'?'" class="codeimg" title="看不清，换一张"></li>		
				 <li class="last_li"><input type="submit" class="submit" name="dosubmit" value="登录"></li>
				</ul>
				<div class="yzmcms_bottom">没有账号？<a href="{U('member/index/register')}" target="_blank">立即注册</a>&nbsp;&nbsp;&nbsp; <a href="{U('member/reset/init')}" target="_blank" class="reset_pwd">忘记密码？</a></div>
			 </form>
		</div>

	</div>

	<script type="text/javascript">
	
	function checkall(){
		var username = $.trim($('#username').val());
		var password = $.trim($('#password').val());
		var code = $.trim($('#code').val());
		if(username == ''){
			layer.msg('用户名不能为空!');
			return false;
		}
		if(password == ''){
			layer.msg('密码不能为空!');
			return false;
		}
		if(code == ''){
			layer.msg('验证码不能为空!');
			return false;
		}

		$.ajax({
			type : 'post',
			url : '{U(ROUTE_A)}',
			data : {username:username,password:password,code:code},		
			dataType : 'json',
			success : function(res){
				if(res.status == 1){
					layer.msg(res.message, {icon:1,time: 1000});
					setTimeout("parent.location.reload();", 1500);
				}else{
					layer.msg(res.message, {icon:2,time: 2000});
					$('#code+img').attr('src',$('#code+img').attr('src') + '?' + Math.random());
					$("#code").val('').focus();
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				layer.msg('请求失败，请刷新页面后重试！');
			}
		})
		
		return false;
	}	
	
	</script>
</body>
</html>