{m:include "bbs","header"} 

	<div class="yzm_main container">
		<div class="yzm_main_left">
			<div class="yzm_conent_box yzm_content_comment">
				<h1><a href="{U('index/show', array('id'=>$id))}">{$title}</a></h1>
				<div class="yzm_status">
					{if strpos($tags, '1') !== false}
					<span class="yzm_badge yzm_stick">置顶</span>
					{/if}
					{if strpos($tags, '2') !== false}
	        	    <span class="yzm_badge yzm_essence">精帖</span> 
	        	    {/if} 
	        	    {if strpos($tags, '3') !== false}
	        	    <span class="yzm_badge yzm_recomm">推荐</span>
	        	    {/if} 
				</div>
				<fieldset class="yzm_content_fieldset"> <legend>全部评论</legend> </fieldset>
				<ul class="yzm_comment_ul">
					{loop $comment_list $v}
					<li>
						<div class="comment_about"> 
						<a class="yzm_comment_avatar" href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank"> <img src="{if $v['userpic']}{$v[userpic]}{else}{STATIC_URL}bbs/images/avatar.png{/if}" alt="{$v[username]}"> </a> 
						<div class="yzm_detail_user"> 
						<a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank"> <cite>{$v[username]}</cite> </a>
						{if $v['username'] == 'yzmcms'}<img class="yzm_v" src="{STATIC_URL}bbs/images/v.png" alt="官网认证"  title="官网认证"/>{/if}
						<span class="yzm_comment_date">{format_time($v['inputtime'])}</span> 
						</div> 
						</div>
						<div class="yzm_cc">{nl2br($v['content'])}</div>
						<div class="yzm_cc yzm_cc_reply">
						<div class="yzm_float {if check_attitude($v['id'], $v['praise'], $userid)}yzm_praise{/if}"><span onclick="yzm_praise(this, '{U('attitude/init', array('forumid'=>$v['forumid'],'commentid'=>$v['id']))}')"><i class="iconfont">&#xe61f;</i><em>{$v['praise']}</em></span></div>
						<div class="yzm_float"><span onclick="yzm_reply('{$v[username]}')"><i class="iconfont">&#xe644;</i>回复</span></div>
						{if $v['userid']==$userid}
						<div class="yzm_float"><span onclick="yzm_comment_del('{U('comment/del')}', '{$v[id]}')"><i class="iconfont">&#xe614;</i>删除</span></div>
						{/if}
						</div>
					</li>
					{/loop}
				</ul>
				<div class="yzm_page yzm_comment_page">
				{$pages}
				</div>
				<form action="" method="post" onsubmit="return yzm_submit(this, '{U('comment/post')}')">
					<textarea name="content" id="content" required placeholder="{if $is_comment}发表评论时请勿灌水，谢绝人身攻击、辱骂、广告等恶性言论！{else}该帖已关闭评论！{/if}" {if !$is_comment} disabled="disabled" {/if}></textarea>
					<input type="hidden" name="id" value="{$id}">
					<input type="submit" name="dosubmit" class="yzm_button" value="提交" />
				</form>
			</div>			
		</div>
		<div class="yzm_main_right">		
			<div class="yzm_list_section">
				<strong>发布新帖</strong>
				<div class="yzm_release">
					<a href="{U('add')}" target="_blank">发布新帖</a>
				</div>
			</div>
			<div class="yzm_list_section">
				<strong>最近更新</strong>
				<ul class="yzm_recommend">
					{loop $list_data $v}
					<li><a href="{U('show', array('id'=>$v['id']))}" target="_blank">{$v[title]}</a></li>
					{/loop}
				</ul>
			</div>
		</div>
	</div>
	<script> var site_url = '{SITE_URL}'; </script>
	<script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{STATIC_URL}plugin/layer/layer.js"></script>	
	<script type="text/javascript" src="{STATIC_URL}bbs/js/yzm_bbs_js.js"></script>
{m:include "bbs","footer"} 