{m:include "bbs","header"} 
	<div class="yzm_main container">
		<div class="yzm_main_left">

			<div class="yzm_list_section">
				<strong>最新</strong>
				<ul class="yzm_list">
					{loop $list_data $v}
					<li>
						<a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank" class="yzm_avatar" title="{$v[username]}">
							<img src="{get_avatar($v['userid'])}" alt="{$v[username]}">
						</a>

			            <h3>
			              <span class="yzm_badge">{get_platename($v['plate_id'])}</span>
			              <a href="{U('show', array('id'=>$v['id']))}" target="_blank">{$v[title]}</a>
			            </h3>
			            <div class="yzm_list_info">
			              <a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank">
			                <cite>{$v[username]}</cite>
			                {if $v['username']=='yzmcms'}
			                <img class="yzm_v" src="{STATIC_URL}bbs/images/v.png" alt="官网认证"  title="官网认证"/>
			                {/if}
			              </a>
			              <span class="yzm_time">{date('Y-m-d H:i', $v['updatetime'])}</span>
			              <span class="yzm_list_nums"> 
			              	<span class="yzm_browse"  title="浏览次数" ><img src="{STATIC_URL}bbs/images/browse.png" alt="浏览次数" />{$v[click]}次</span>
			              	<span class="yzm_comment" title="评论次数" ><img src="{STATIC_URL}bbs/images/comment.png" alt="评论次数" />{$v[comment]}</span>
			              </span>
			            </div>
			            <div class="yzm_list_badge">
			            	{if strpos($v['tags'], '1') !== false}
	        	            <span class="yzm_badge yzm_stick">置顶</span>
	        	            {/if}
	        	            {if strpos($v['tags'], '2') !== false}
	        	            <span class="yzm_badge yzm_essence">精帖</span>    
	        	            {/if}  
	        	            {if strpos($v['tags'], '3') !== false}
	        	            <span class="yzm_badge yzm_recomm">推荐</span>
	        	            {/if}      
				        </div>	
					</li>
					{/loop}	
				</ul>
				
				<div class="yzm_page">
				{$pages}
				</div>
			</div>		
		</div>
		<div class="yzm_main_right">
			<div class="yzm_list_section">
				<strong>发布新帖</strong>
				<div class="yzm_release">
					<a href="{U('add')}" target="_blank">发布新帖</a>
				</div>
			</div>
			<div class="yzm_list_section">
				<strong>热门推荐</strong>
				<ul class="yzm_recommend">
					{loop $recommend_list $v}
					<li><a href="{U('show', array('id'=>$v['id']))}" target="_blank">{$v[title]}</a></li>
					{/loop}				
				</ul>
			</div>
			<div class="yzm_list_section">
				<strong>浏览排行</strong>
				<ul class="yzm_recommend">
					{loop $view_list $v}
					<li><a href="{U('show', array('id'=>$v['id']))}" target="_blank">{$v[title]}</a></li>
					{/loop}	
				</ul>
			</div>
		</div>
	</div>
	
{m:include "bbs","footer"} 