{m:include "bbs","header"} 
<link rel="stylesheet" type="text/css" href="{STATIC_URL}bbs/css/viewer.mini.css">
	<div class="yzm_main container">
		<div class="yzm_main_left">
			<div class="yzm_conent_box">
				<h1>{$title}</h1>
				<div class="yzm_status">
					{if strpos($tags, '1') !== false}
					<span class="yzm_badge yzm_stick">置顶</span>
					{/if}
					{if strpos($tags, '2') !== false}
	        	    <span class="yzm_badge yzm_essence">精帖</span> 
	        	    {/if} 
	        	    {if strpos($tags, '3') !== false}
	        	    <span class="yzm_badge yzm_recomm">推荐</span>
	        	    {/if} 
				</div>
				<div class="yzm_detail_info">
					<span>{$click}次浏览</span>      
					<span>更新日期：{date('Y-m-d H:i:s',$updatetime)}</span>
					<span>分类：{get_platename($plate_id)}</span>      
					<span>评论：{$comment}</span>           
				</div>
				<div class="yzm_content">
					{handle_url($content)}
					
					{if $point}
					    <h2>附件下载：</h2>
					    <br>
					    {if $userid}
					    {php $p = D('member')->field('point')->where(array('userid'=>$userid))->one()}
					    <p>您目前有 <span style="color:red">{$p}</span> 点积分，下载该附件需扣除 <span style="color:red">{$point}</span> 点积分，<a href="{U('bbs/down/init', array('id'=>$id))}" target="_blank">去下载</a> 或 <a href="{U('member/member_pay/pay')}" target="_blank">去充值</a> 。</p>
					    {else}
					    <p>登录后可查看详情！</p>
					    {/if}
					{else}
    					{if $attachment}
    					<h2>附件下载：</h2>
    					<p>
    					{if $userid}<a href="{$attachment}">免费下载</a>{else}登录后可免费下载！{/if}
    					</p>
    					{/if}
					{/if}
				</div>	
				<div class="yzm_operation">
					<a href="javascript:;" onclick="yzm_favorite('{U('show', array('id'=>$id))}', '{$title}', '{U('api/index/favorite')}')" id="favorite">收藏</a> 
					{if $data['userid']==$userid}
					<a href="{U('edit', array('id'=>$id))}">编辑</a> 
					{/if}
				</div>					
			</div>

			<div class="yzm_conent_box yzm_content_comment">
				<fieldset class="yzm_content_fieldset"> <legend>我来说两句</legend> </fieldset>
				<ul class="yzm_comment_ul">
					{loop $comment_list $v}
					<li>
						<div class="comment_about"> 
						<a class="yzm_comment_avatar" href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank"> <img src="{if $v['userpic']}{$v[userpic]}{else}{STATIC_URL}bbs/images/avatar.png{/if}" alt="{$v[username]}"> </a> 
						<div class="yzm_detail_user"> 
						<a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank"> <cite>{$v[username]}</cite> </a>
						{if $v['username'] == 'yzmcms'}<img class="yzm_v" src="{STATIC_URL}bbs/images/v.png" alt="官网认证"  title="官网认证"/>{/if}
						<span class="yzm_comment_date">{format_time($v['inputtime'])}</span> 
						</div> 
						</div>
						<pre class="yzm_cc yzm_cc_text">{$v['content']}</pre>
						<div class="yzm_cc yzm_cc_reply">
						<div class="yzm_float {if check_attitude($v['id'], $v['praise'], $userid)}yzm_praise{/if}"><span onclick="yzm_praise(this, '{U('attitude/init', array('forumid'=>$v['forumid'],'commentid'=>$v['id']))}')"><i class="iconfont">&#xe61f;</i><em>{$v['praise']}</em></span></div>
						<div class="yzm_float"><span onclick="yzm_reply('{$v[username]}')"><i class="iconfont">&#xe644;</i>回复</span></div>
						{if $v['userid']==$userid}
						<div class="yzm_float"><span onclick="yzm_comment_del('{U('comment/del')}', '{$v[id]}')"><i class="iconfont">&#xe614;</i>删除</span></div>
						{/if}
						</div>
					</li>
					{/loop}
				</ul>
				<!-- 更多评论 -->
				{if $comment>20}
				<div class="yzm_comment_more">
					<a href="{U('bbs/comment/more', array('id'=>$id))}" target="_blank">查看更多评论({$comment}条)</a>
				</div>
				{/if}
				<form action="" method="post" onsubmit="return yzm_submit(this, '{U('comment/post')}')">
					<textarea name="content" id="content" required placeholder="{if $is_comment}发表评论时请勿灌水，谢绝人身攻击、辱骂、广告等恶性言论！{else}该帖已关闭评论！{/if}" {if !$is_comment} disabled="disabled" {/if}></textarea>
					<input type="hidden" name="id" value="{$id}">
					<input type="submit" name="dosubmit" class="yzm_button" value="提交" />
				</form>
			</div>			
		</div>
		<div class="yzm_main_right">
			<div class="yzm_list_section">
				<strong>版主信息</strong>
				<div class="yzm_user_info">
					<div class="yzm_user_info_avatar">
						<a href="{U('member/myhome/init', array('userid'=>$member_info['userid']))}" target="_blank" title="{$member_info[username]}" class="userlink"><img src="{$member_info[userpic]}" alt="{$member_info[username]}" class="useravatar"></a>
						<span class="username">{$member_info[username]}</span>
						<span class="usergroup">{$groupinfo['name']}{if $groupinfo['icon']} <img src="{STATIC_URL}images/icon/{$groupinfo['icon']}" height="18">{/if}</span>
					</div>
					<p style="text-align:center;">{if $member_info['motto']}{$member_info['motto']}{else}<span style="color:#aaa">这家伙很懒，什么都没写呢~</span>{/if}</p>
					<div class="yzm_user_info_operation">
						<a href="javascript:;" id="follow" onclick="yzm_follow('{$member_info[userid]}', '{U('member/index/public_follow')}');">{if check_follow($member_info['userid'])}已关注{else}加关注{/if}</a>
						<a href="{U('member/messages/new_messages', array('username'=>$member_info['username']))}" class="primary" target="_blank">发私信</a>
					</div>
				</div>
			</div>			
			<div class="yzm_list_section">
				<strong>发布新帖</strong>
				<div class="yzm_release">
					<a href="{U('add')}" target="_blank">发布新帖</a>
				</div>
			</div>
			<div class="yzm_list_section">
				<strong>最近更新</strong>
				<ul class="yzm_recommend">
					{loop $list_data $v}
					<li><a href="{U('show', array('id'=>$v['id']))}" target="_blank">{$v[title]}</a></li>
					{/loop}
				</ul>
			</div>
		</div>
	</div>
	<script> var site_url = '{SITE_URL}'; </script>
	<script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="{STATIC_URL}plugin/layer/layer.js"></script>	
	<script type="text/javascript" src="{STATIC_URL}bbs/js/yzm_bbs_js.js"></script>
	<script type="text/javascript" src="{STATIC_URL}bbs/js/viewer.mini.js"></script>
	<script>check_favorite();$('.yzm_content').viewer();</script>
{m:include "bbs","footer"} 